bkg-img {
    background-color: var(--lighter);
    background-size: cover;
    background-position: center;
    opacity: 95%;
    width: 100vw;
    height: 100vh;
}

div.slideshow {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fine-print {
    color: var(--light);
}

.bkg-img-slide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    padding: 20px;
    font-size: 20pt;
    text-align: justify;
}
.slide p {
    font-size: 24pt;
    text-align: justify;
}

#about-slide {
    color: var(--signal);
    grid-column: 2;
    grid-row: 2;
}

#price-slide {
    color: var(--lighter);
    grid-column: 4;
    grid-row: 4;
}

#contact-slide {
    color: var(--signal);
    font-size: 24pt;
    grid-column: 4;
    grid-row: 3;
}

#faq-slide {
    color: teal;
    grid-column: 2;
    grid-row: 2;
}