@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {

  --purp: rgb(85, 26, 139);
  --blue:   #aafaea;

  --darker: #2f3d65;
  --dark:   #834e87;
  --lighter:#fff0c0;
  --signal: #ff0088;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--lighter);
  color: var(--darker);
}

::selection {
  background-color: var(--blue);
  color: var(--signal);
}

p {
  text-align: justify;
  font-family: 'Roboto Slab', serif;

}

h1 h2 h3 h4 h5 h6 {
  font-family: 'Kanit', sans-serif;
}

footer {
  padding: 4vh 4vh;
  text-align: center;
  background: var(--darker);
  color: var(--lighter);  
}

#hamburger {
  color: var(--signal);
}

.glass {
  backdrop-filter: blur(10pt) brightness(110%);
}

.haze {
  opacity: 100%;
  backdrop-filter: blur(10pt) brightness(125%) saturate(125%);
}
