@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --darker: #5E6472;
  --dark:   #855c5c;
  --mid:    #abebde;
  --light:  #5e64728b;
  --lighter:#FAF3DD;
  --signal: #ff0088;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--lighter);
  color: var(--darker);
}

::selection {
  background-color: var(--mid);
  color: var(--signal);
}

html {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
}

p {
  text-align: justify;
}

footer {
  padding-top: 4vh;
  padding-bottom: 4vh;
  text-align: center;
  background: var(--darker);
  color: var(--lighter);
}


#hamburger {
  color: var(--signal);
}

h3 {
  text-align: left;
}

.glass {
  backdrop-filter: blur(10px) brightness(110%);
}

.haze {
  opacity: 95%;
  backdrop-filter: blur(20px) brightness(125%) saturate(200%);
}